<!DOCTYPE html>
<html>
  <head>
    <meta lang='ja' content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>返却期限が近づいています。</h1>
    <p><%= @user.name %> 様</p>
    <p>レンタル中の書籍: 「<%= @lending.book.title %>」の返却期限は<%= @lending.expiry_date %> です。</p>
    <p>他ユーザーが円滑に利用出来るよう、返却期限を守りましょう。</p>
  </body>
</html>
